* {
  /*border: 1px solid red;*/
}


body:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: url('cloud_background.jpg');
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.content {
  /*width: 90%;*/
  margin: 0 auto;
}

.header {
  height: 150px;
  text-align: center;
  padding-top: 20px;
}

.main-container {
  width: 80%;
  min-height: 550px;
  margin: 0 auto;


  box-shadow: 5px 5px 15px #888888;

  padding: 30px;
  background: rgba(250,250,250, 0.8);

}

.footer {
  width: 100%;
  padding: 15px 20px;

  color: white;
  background: #0b3b7a;
  border-top: 2px solid rgba(75,75,75, 0.1);
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;


}

.footer-content img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
}

#bateson-content img {
  height: 80px;
  border-radius: 50px;
}

#copyright {
  text-align: center;
}

.container {
  width:80%;
}

.container p {
  text-align: center;
  font-size: 25px;
}



h1 {
  text-decoration: underline black;
  color: white;
  font-size: 70px;
  white-space: nowrap;
  -webkit-text-stroke: 2px black;
}


.errors {
  color: white;
  background-color: #d13838 !important;
  list-style: none;
  text-align: left;
  line-height: 25px;

  width: 350px;

  background: white;
}


/* BEGIN WEATHER CONTAINER STYLING */

.weather-form h4 {
  text-align: center;
}

.weather-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.day-report {
  box-shadow: 5px 5px 5px #888888;
  background: linear-gradient(to bottom right, #030416, #1513B8);
  min-width: 200px;
  border-radius: 10px;
}

.day-report .day-header {
  background: white;
  border-bottom: 8px solid red;
  border-radius: 5px 5px 0 0;
  padding-top: 0;
  margin-top: -20px;
}

.day-header h2 {
  line-height: 50px;
  font-size: 40px;

  height: 50px;
  vertical-align: bottom;
  font-weight: bold;
  vertical-align: bottom;
}

.day-report .day-img {
  height: 120px;
  line-height: 120px;
}

.day-img span {
  display: inline;
  vertical-align: middle;
}

.day-img img {
  height: 80px;
  width: auto;
}

.day-info p {
  color: white;
  padding-top: -10px;
}

.day-info hr {
  width: 30%;
  padding: -10px;
}

p.condition {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}

p.condition span {
  display: inline;
  vertical-align: middle;
  line-height: normal;
}

p.high-temp {
  width: 75%;
  margin: 0 auto;

  text-align: left;
  font-weight: bold;
  font-size: 40px;
}

p.low-temp {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 10px;


  color: #78d5fc;
  text-align: right;
  font-weight: bold;
  font-size: 40px;
}

/* END WEATHER CONTAINER STYLING */







/* BEGIN LOADER STYLING */

.loader {
  /*border: 16px solid red;*/
  border-radius: 50%;
  border-top: 20px solid #3498db;
  width: 160px;
  height: 160px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  /*box-shadow: 15px 15px 15px #888888;*/



  margin: auto;


}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






/* END LOADER STYLING */

@media screen and (max-width: 810px ) {

  .weather-container {

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .day-report {
    width: 300px;

  }

  p.condition {
    font-size: 27px;
  }

}