* {
  /*border: 1px solid red;*/
}


body:after {
  background: url('cloud_background.jpg');
  content: '';
  display: block;
  position: fixed;
  height: 100%;
  left: 0;
  opacity: 0.7;
  top: 0;
  width: 100%;
  z-index: -1;
}

.header {
  background: #6188C7;
  border-bottom: 2px solid rgba(75,75,75, 0.6);
  box-shadow: 0 0 10px #888888;
  height: 150px;
  padding-top: 20px;
  text-align: center;
}

#sun {
  color: yellow;
  margin: -12px;
  z-index: -1;
}



.header h1 {
  color: white;
  font-size: 70px;
  text-decoration: underline black;
  -webkit-text-stroke: 2px black;
  white-space: nowrap;
}


.main-container {
  background: rgba(250,250,250, 0.8);
  box-shadow: 5px 5px 15px #888888;
  margin: 0 auto;
  min-height: 550px;
  min-width: 400px;
  padding: 30px;
  width: 80%;
  z-index: -1;
}


.initial-info {
  box-shadow: 5px 5px 15px #888888;
  margin-top: 40px;
}

.initial-info h5 {
  font-size: 20px;
  text-align: center;
}



/* BEGIN WEATHER CONTAINER STYLING */


.errors {
  background-color: #d13838 !important;
  color: white;
  line-height: 25px;
  list-style: none;
  text-align: left;
  width: 350px;
}

.error-close {
  float: right;
  margin-top: -10px;
  padding: 3px;
  cursor: pointer;
}

.error-close:hover {
  color: gray;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.weather-container {
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-right: 2px;
  padding: 0 10px;
  text-align: center;
  width: 90%;

}

.day-report {
  background: linear-gradient(to bottom right, #030416, #1513B8);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  min-width: 200px;
}

.day-report .day-header {
  background: white;
  border-bottom: 8px solid red;
  border-radius: 5px 5px 0 0;
  margin-top: -20px;
  padding-top: 0;
}

.day-header h2 {
  font-size: 40px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
}

.day-report .day-img {
  height: 120px;
  line-height: 120px;
}

.day-img span {
  display: inline;
  vertical-align: middle;
}

.day-img img {
  height: 80px;
  width: auto;
}

.day-info p {
  color: white;
  padding-top: -10px;
}

.day-info hr {
  padding: -10px;
  width: 30%;
}

p.condition {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}

p.condition span {
  display: inline;
  line-height: normal;
  vertical-align: middle;

}

p.high-temp {
  font-size: 40px;
  font-weight: bold;
  margin: -15px auto;
  text-align: left;
  width: 75%;
}


p.low-temp {
  color: #78d5fc;
  font-size: 40px;
  font-weight: bold;
  margin: -15px auto;
  padding-bottom: 20px;
  text-align: right;
  width: 75%;
}

/* END WEATHER CONTAINER STYLING */







/* BEGIN LOADER STYLING */

.loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top: 20px solid #3498db;
  height: 160px;
  margin: auto;
  width: 160px;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* END LOADER STYLING */

/* BEGIN FOOTER CONTENT*/

.footer {
  background: #0b3b7a;
  border-top: 2px solid rgba(75,75,75, 0.1);
  color: white;
  padding: 15px 20px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 400px;
  text-align: center;
  width: 90%;
}

.footer-content img {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}


#bateson-content img {
  border-radius: 50px;
  height: 80px;
}

#copyright {
  text-align: center;
}


@media screen and (max-width: 991px ) {
  .weather-container {
    margin: 0 auto;
  }

  .container {
    width: 80%;
  }
}




@media screen and (max-width: 800px ) {

  .weather-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .day-report {
    width: 300px;

  }

  p.condition {
    font-size: 27px;
  }

  .footer-content {
    justify-content: center;
  }

}