* {
  /*border: 1px solid red;*/
}


body:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: url('cloud_background.jpg');
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.container {
  width:80%;
}

.container p {
  text-align: center;
  font-size: 25px;
}



h1 {
  text-decoration: underline black;
  color: white;
  font-size: 70px;
  white-space: nowrap;
  -webkit-text-stroke: 2px black;
}


.errors {
  color: red;
  list-style: none;
  text-align: left;
  line-height: 25px;

  width: 300px;

  background: white;
}


/* BEGIN WEATHER CONTAINER STYLING */

.weather-container {
  text-align: center;
  display: flex;
  justify-content: space-around;

  border-radius: 5px;
}

.day-report {
  background: linear-gradient(to bottom right, #030416, #1513B8);
  min-width: 200px;
  border-radius: 10px;
}

.day-report .day-header {
  background: white;
  border-bottom: 8px solid red;
  border-radius: 5px 5px 0 0;
  padding-top: 0;
  margin-top: -20px;
}

.day-header h2 {
  line-height: 50px;
  font-size: 40px;

  height: 50px;
  vertical-align: bottom;
  font-weight: bold;
  vertical-align: bottom;
}

.day-report .day-img {
  height: 200px;
  line-height: 200px;
}

.day-img span {
  display: inline;
  vertical-align: middle;
}

.day-img img {
  height: 100px;
  width: auto;
}

.day-info p {
  color: white;
}

.day-info hr {
  width: 30%;
  padding: -10px;
}

p.condition {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}

p.condition span {
  display: inline;
  vertical-align: middle;
  line-height: normal;
}

p.high-temp {
  width: 75%;
  margin: 0 auto;

  text-align: left;
  font-weight: bold;
  font-size: 40px;
}

p.low-temp {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 10px;


  color: #78d5fc;
  text-align: right;
  font-weight: bold;
  font-size: 40px;
}

/* END WEATHER CONTAINER STYLING */







/* BEGIN LOADER STYLING */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 160px;
  height: 160px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  margin: auto;


}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
















/* END LOADER STYLING */

@media screen and (max-width: 680px ) {

  .weather-container {

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .day-report {
    width: 300px;

  }

  p.condition {
    font-size: 27px;
  }

}