
<div id='main'>
  <div id="weather">
    <div class="header">
      <h1>Weather Rep<span id='sun'>☀</span>rt</h1>
    </div>

    <div class="main-container">
      <div id="weatherForm">
        <h4>
          Enter zipcode to see forecast:
          <input type="text" v-model="zipcode" placeholder="Zipcode" v-on:keyup.enter="tooFast(Date.now())" maxlength="5" v-on:keypress="isNumber($event)"> <button v-on:click='tooFast(Date.now())' class="btn btn-primary">Submit</button>
        </h4>
      </div>

      <ul v-if="errors.length > 0 " class="thumbnail errors">
        <p class='error-close' v-on:click="errors = []">x</p>
        <li v-for="error in errors">- {{error}}</li>
      </ul>

      <span v-if="loading == true">
        <br>
        <div class='container'>
          <div class="loader"></div>
        </div>
      </span>

        <span v-else-if="weatherReport.length > 0">
          <h2>Upcoming Forecast for {{currentCity}}:</h2>
          <br>
          <input type="checkbox" v-model="celsius"> Celsius? </input>
          <div class='container'>
            <div class='row weather-container'>
              <div v-for="day in weatherReport" class="thumbnail day-report">

                <div class="day-header">
                  <h2><span>{{day.date.weekday_short}}</span></h2>
                </div>

                <div class="day-img">
                  <span><img :src="day.icon_url" :alt="day.icon"></span>
                </div>

                <div class="day-info">
                  <p class="condition">{{day.conditions}}</p>


                  <div v-if="celsius == true">
                    <p class="high-temp">
                      <span>{{day.high.celsius}}°C</span>
                    </p>
                    <hr>
                    <p class="low-temp">
                      <span>{{day.low.celsius}}°C</span>
                    </p>
                  </div>

                  <div v-else>
                    <p class="high-temp">
                      <span>{{day.high.fahrenheit}}°F</span>
                    </p>
                    <hr>
                    <p class="low-temp">
                      <span>{{day.low.fahrenheit}}°F</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </span>

        <span v-else-if="errors.length > 0" class="initial-info thumbnail">
          <h5>Something went wrong. Please see above errors for details.</h5>
        </span>

        <span v-else class="initial-info thumbnail">
          <h5>Welcome to Weather Report, a place for your current weather needs! Once you enter a zipcode above you'll be shown the weather for the next three days for that area! Please note that a zipcode must be 5 digits, ie. 60622. Thanks and have fun!</h5>
        </span>

      </div>

    </div>

    <div class="footer">
      <div class='row footer-content'>
        <div id='wunder-content' class="col-xs-4">
          <p>Weather provided to you by</p>
          <a href="https://www.wunderground.com/" target="_blank"><img src="http://icons.wxug.com/graphics/wu2/logo_130x80.png" alt=""></a>
        </div>
        <div id='bateson-content' class='col-xs-4'>
          <p>Made by Christopher Bateson</p>
          <a href="wunderground.png" target="_blank"><img src="/assets/bateson-round.jpg" alt=""></a>
        </div>
      </div>

      <br>

      <div id='copyright'>
        <p>©Copyright 2017. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
